input[type="checkbox"] {
	margin-top: 0px;
	position: relative;
	width: 47px;
	height: 32px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	transition: .5s;
}

input:checked[type="checkbox"] {
	background: #1E90FF;
}

input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transform: scale(0.8);
	transition: .5s;
}

input:checked[type="checkbox"]:before {
	left: 15px;
}
